

.about__section{
    padding-top: 550px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .about{
        background: url(/assets/images/IMG_0403.jpg) no-repeat left;
        background-size: 55%;
        overflow: hidden;
        padding: 100px 0;
        

        .inner__section{
            width: 55%;
            float: right;
            padding: 140px;
            background-color: var(--white-color);
            box-shadow: 10px 10px 8px var(--dark-color);

            & h1{
                margin-bottom: 30px;
                font-size: 30px;
                font-weight: 900;
            }

            .text{
                font-size: 13px;
                color: var(--dark-color);
                line-height: 30px;
                text-align: justify;
                margin-bottom: 40px;
            }

            .skills{ 
            
                & button{
                    font-size: 22px;
                    text-align: center;
                    letter-spacing: 2px;
                    border:none;
                    border-radius: 20px;
                    padding: 8px;
                    width: 200px;
                    background-color: var(--first-color);
                    color:white;
                    cursor: pointer;

                    &:hover{
                        transition: 1s;
                        background-color: var(--dark-color);
                        color: var(--first-color);
                    }
                }

                
            }
        }
    }
}


/* Media Queries

    
*/

@media screen and (max-width:1200px){
    .about{
        background-size: 100%;
        padding: 100px 40px;

        .inner__section{
            width: 100%;
        }
    }
}

@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;

        .inner__section{
            width: 100%;
        }
    }

}

@media screen and (max-width:600px){
    .about{
        padding: 0;

        .inner__section{
            width: 70%;
            padding: 140px;

            .skills{
                & button{
                    font-size: 19px;
                    padding: 5px;
                    width: 160px;
                }
            }
        }
    }
}

