.contact__form {
    height: 560px;
    padding: 50px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    transition: .5s all ease;

    .form__area {

        & h2 {
            font-weight: 500;
            font-size: 28px;
            text-align: center;
            transition: .5 all ease;
        }

        & p {
            max-width: 340px;
            font-weight: 300;
            margin: auto;
            text-align: center;
        }
    }

    .contact {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .5 all ease;

        .map {
            width: 400px;
            margin-right: 35px;
            animation-duration: 1.5s;

            iframe {
                width: 100%;
                height: 300px;
                box-shadow: 0 0 8px rgba(0, 0, 0, .3);
            }
        }
    }

    .form {
        width: 525px;
        transition: .5s all ease;
        animation-duration: 1.5s;

        .label {
            background-color: var(--white-color);
            font-size: 17px;
            font-weight: 300;
            margin: 0 8px;
            padding: 0 5px;
            position: absolute;
            transition: 0.5s all cubic-bezier(0.5, 1.35, 0.5, 1.35);
        }

        .email-text{
            transform: translateY(-51px);
        }

        .subject-text{
            transform: translateY(-52px);
        }

        .help-text{
            transform: translateY(-115px);
        }

            & input,textarea{
                width: 100%;
                padding:10px;
                border: 1px solid;
                border-radius: 5px;
                outline: none;
                margin-bottom: 20px;
                transition: .3s;

                &:focus{
                    border: 1px solid var(--first-color);
                    box-shadow: inset 1px 1px 0 var(--first-color), inset -1px 1px 0 var(--first-color);
                }

                &:focus + .label, &:valid + .label{
                    font-size: 13px;
                    font-weight: 600;
                }

                &:focus + .email-text, &:valid + .email-text{
                    transform: translateY(-67px);
                }

                &:focus + .subject-text, &:valid + .subject-text{
                    transform: translateY(-67px);
                }

                &:focus + .help-text, &:valid + .help-text{
                    transform: translateY(-127px);
                }
            }

            textarea{
                max-height: 90px;
                max-width: 100%;
            }

            .submit-area{
                position: relative;

                #submit{
                    position: relative;
                    display: inline-block;
                    width: 105px;
                    text-align: left;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 1px;
                    cursor: pointer;
                    background-color: var(--dark-color);
                    color: var(--first-color);
                    text-transform: uppercase;
                    font-size: 11px;
                    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
                    transition: .1s all ease;

                    &:hover{
                        box-shadow: 0 7px 15px transparentize(#000, .75);
                    }
                }

                i.fa-paper-plane{
                    position: absolute;
                    left: 70px;
                    top:9px;
                    color:var(--first-color);
                    font-size: 13px;
                }
            }
    }
}


//Media Queries


@media screen and (max-width: 992px){
    .contact__form{
        width: 710px;
        height: auto;

        .form__area{
            margin-top: 200px;
        }

        .contact{
            flex-direction: column;

            .map{
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;
            }

            .form{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .contact__form{
        width: 100%;
    }
}