@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");
.banner__slider {
  padding-top: 100px;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.img-slider {
  position: relative;
  width: 800px;
  height: 365px;
  margin: 10px;
  background: #1d212b;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 80%;
  height: 20%;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 10;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #2696e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}
@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}
@media (max-width: 370px) {
  .banner__slider {
    width: 100%;
    height: 85vh;
    padding-top: 10px;
  }

  .img-slider {
    width: 100%;
    height: 100%;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}
.about__section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.about {
  background: url(/assets/images/about.jpg) no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

.inner-section {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 140px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}

.inner-section h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills button {
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
  border: none;
  border-radius: 20px;
  padding: 8px;
  width: 200px;
  background-color: #00999c;
  color: white;
  cursor: pointer;
}

.skills button:hover {
  transition: 1s;
  background-color: #ecf5f5;
  color: #00999c;
}

@media screen and (max-width: 1200px) {
  .inner-section {
    padding: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    background-size: 100%;
    padding: 100px 40px;
  }

  .inner-section {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .about {
    padding: 0;
  }

  .inner-section {
    padding: 60px;
  }

  .skills button {
    font-size: 19px;
    padding: 5px;
    width: 160px;
  }
}
.category__section {
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
  display: flex;
  width: 85%;
  margin: 30px auto;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  border-radius: 10px;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 6rem;
  padding: 2rem 0;
}

.section__title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section__title h1 {
  font-size: 1.9rem;
  font-weight: inherit;
}
.section__title .primary__title {
  opacity: 0.6;
  padding-left: 0.5rem;
  transition: opacity 0.3 ease-in-out;
}

span.dot {
  opacity: 0.6;
  padding: 0.45rem;
  position: relative;
  cursor: pointer;
  border: black;
  transition: opacity 0.3s ease-in-out;
}
span.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: black;
  margin: 1px;
  opacity: 0.6;
}

.product {
  position: relative;
  text-align: center;
}
.product ul {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35%;
  left: 50%;
  width: 17rem;
  height: 5rem;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.7);
  transition: all 0.5s ease-in-out;
}
.product ul a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15rem;
}
.product .product__header {
  height: 10rem;
  padding: 0.5rem 0;
  text-align: center;
}
.product .product__header img {
  max-width: 100%;
  max-height: 100%;
}
.product .product__footer {
  padding: 0.5rem;
  color: var(--dark-color);
  font-family: var(--body-font);
}
.product .product__footer h3 {
  padding: 1rem 0;
}
.product .product__btn {
  position: absolute;
  color: var(--white-color);
  font-family: var(--body-font);
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border-radius: 20px;
  background: linear-gradient(120deg, #858C00 60%, #cc8e40);
  cursor: pointer;
}
.product .product__btn:hover {
  background: #cc8e40;
}
.product .product__btn:focus {
  outline: none;
}
.product .content-popup {
  opacity: 0;
  visibility: hidden;
  width: 350px;
  height: 400px;
  position: absolute;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in;
}
.product .content-popup #click:checked ~ .content-popup {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.product .content-popup .popup-header {
  height: 68px;
  background: #e0ceb7;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.product .content-popup .popup-header h3 {
  color: #8f9300;
  padding-left: 32px;
  font-weight: 900;
}
.product .content-popup .popup-header .fa-window-close {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #8f9300;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.product .content-popup .popup-header .popup-info {
  padding-top: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.product .content-popup .popup-header .popup-info h3 {
  font-size: 18px;
  color: #8f9300;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.product .content-popup .popup-header .popup-info .ficha-tecnica {
  position: relative;
  padding: 10px 30px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 30px;
  background: #8f9300;
  color: #fff;
  text-transform: uppercase;
}
.product .img-popup {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.product .img-popup img {
  width: 90%;
}

.category__center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 2rem;
}

/*Variables*/
/*Fuente principal*/
:root {
  --header-height:3rem;
}

:root {
  --body-font: "Roboto Slab", serif;
}

:root {
  --dark-color:#282b3a;
  --white-color:#E6E7E9;
  --first-color:#848700;
}

:root {
  --z-fixed:100;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: var(--white-color);
}
.header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/*Barra de navegacion*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    transition: 0.5s;
  }
}
.nav__content {
  height: 100%;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}
.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}
.nav__close img {
  width: 46px;
}
.nav__name {
  display: block;
  color: var(--white-color);
  font-family: var(--body-font);
}
.nav__menu {
  align-self: center;
}
.nav__item {
  margin: 2.5rem 0;
}
.nav__link {
  color: var(--white-color);
}
.nav__social {
  padding-top: 0.5rem;
}
.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}
.nav__social-icon:hover {
  color: var(--first-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

/*Media queries*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }

  .nav {
    width: 100%;
  }
  .nav__content {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr;
    column-gap: 1rem;
    justify-content: space-between;
  }
  .nav__close, .nav__slogan {
    display: none;
  }
  .nav__perfil {
    display: flex;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
  }
}
.projects .project-container {
  display: flex;
  height: 500px;
  width: 100%;
  z-index: 100;
}
.projects .project-container .project-box {
  position: relative;
  width: 25%;
  height: 100%;
  overflow: hidden;
  border-right: 10px solid #111;
}
.projects .project-container .project-box:last-child {
  border-right: none;
}
.projects .project-container .project-box .img-project {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  opacity: 0.5;
  filter: grayscale(1);
}
.projects .project-container .project-box .img-project.active {
  position: fixed;
  top: 100px;
  padding: 10 20px;
  left: 100px;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  z-index: 1000;
  opacity: 1;
  filter: grayscale(0);
}
.projects .project-container .project-box .img-project:hover {
  opacity: 1;
  filter: grayscale(0);
}
.projects .project-container .project-box .img-project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 670px) {
  footer .list-footer {
    display: block !important;
  }

  .social-media {
    align-items: center;
    margin: 5px !important;
  }
  .social-media .nav__social-icon {
    font-size: 2.2rem;
    padding: 18px;
  }
}
footer {
  width: 100%;
  bottom: 0;
  background: #15161a;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}
footer .list-footer {
  margin: 40px auto;
  display: flex;
  list-style-type: none;
}
footer .list-footer li a {
  text-decoration: none;
  color: #8f9300;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  letter-spacing: 2px;
}
footer .list-footer li a:hover {
  color: #cc8e40;
}
footer .social-media {
  margin: 20px auto;
}
footer .social-media i {
  padding: 20px;
  font-size: 25rem;
  color: #f4f4f4;
}
footer .social-media i:hover {
  color: #cc8e40;
}
footer .copyrights {
  color: #8f9300;
}
footer .copyrights:hover {
  color: #cc8e40;
}

#contact {
  position: relative;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.social a:hover {
  color: #000000;
  transition: all ease 0.3s;
}

.contact-box {
  background-color: #434445;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.1);
}

.c-heading h1 {
  font-family: Roboto;
  color: #e7eef3;
  font-size: 2.5rem;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
}

.c-heading p {
  font-family: Roboto;
  color: #cecece;
  font-size: 0.8rem;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.c-inputs {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-inputs input {
  width: 250px;
  height: 45px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  outline: none;
  margin: 10px 0px;
  padding: 10px;
  box-sizing: border-box;
  color: #f4f4f4;
  display: flex;
}

.c-inputs textarea {
  width: 250px !important;
  height: 200px !important;
  outline: none;
  background-color: transparent;
  border: 1px solid #525252;
  color: #f4f4f4;
  padding: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.c-inputs button {
  width: 200px;
  height: 40px;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}

.c-inputs input:focus {
  border-bottom: 1px solid #fcfcfc;
  transition: all ease 0.5s;
}

.c-inputs textarea:focus {
  border: none;
  border-bottom: 1px solid white;
  transition: all ease 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.c-inputs button:active {
  transform: scale(1.02);
}

.map {
  filter: grayscale(0.2);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border: 2px solid #FFFFFF;
}

@media (max-width: 1100px) {
  .map {
    display: none;
  }
}
@media (max-width: 450px) {
  .social {
    display: none;
  }

  .contact-box {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }

  #contact {
    position: static;
    transform: translate(0, 0);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }

  .c-heading h1 {
    font-size: 2.2rem;
    text-align: center;
  }
}
/*Fuente principal*/
/*Variables css*/
:root {
  --header-height:3rem;
}

/*Colores*/
:root {
  --first-color:#848700;
  --second-color:#cc8e40;
  --background-color: #DFDBE5;
  --dark-color:#282b3a;
  --white-color:#E6E7E9;
}

/*Fuente y tipografia*/
:root {
  --body-font: "Roboto Slab", serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}
@media screen and (min-width: 768px) {
  :root {
    --normal-font-size:1rem;
    --small-font-size:.875rem;
  }
}

/*z index*/
:root {
  --z-fixed: 100;
}

/*Base*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  background-color: var(--background-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.nav__content {
  height: 100%;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}
.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}
.nav__img {
  display: flex;
  justify-content: center;
  padding-top: 0.25rem;
  margin-bottom: 0.8rem;
  width: 56px;
  height: 56px;
  background-color: var(--white-color);
  border-radius: 50%;
  overflow: hidden;
}
.nav__img img {
  width: 80px;
}
.nav__name {
  display: block;
  color: var(--first-color);
}
.nav__info {
  font-size: var(--small-font-size);
}
.nav__menu {
  align-self: center;
}
.nav__item {
  margin: 2.5rem 0;
}
.nav__link {
  color: var(--white-color);
}
.nav__social {
  padding-top: 1.5rem;
}
.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}
.nav__social-icon:hover {
  color: var(--first-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

/*Media Queries*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }

  .nav {
    width: 100%;
  }
  .nav__content {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr;
    column-gap: 1rem;
    justify-content: space-between;
  }
  .nav__close, .nav__info {
    display: none;
  }
  .nav__profile {
    display: flex;
    align-items: center;
  }
  .nav__img {
    width: 55px;
    height: 55px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    align-items: center;
  }
  .nav__img img {
    width: 220px;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    background: var(--first-color);
  }

  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
}
@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .nav__img {
    width: 60px;
    height: 60px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    align-items: center;
  }
  .nav__img img {
    width: 220px;
    height: 35px;
  }
}

/*# sourceMappingURL=styles.css.map */
